body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #212121;
}

.sec1{
    width: 100vw;
    height: 56.25vw;
    background-image: url("../img/экран1.svg");
    background-size: contain;
}

.header{
    font-family: "Geologica";
    font-size: 1.45vw;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -0.12vw;
    padding-top: 1.9vw;
    padding-left: 3vw;
}

  #openBtn{
    width: 2.34vw;
    height: 2.5vw; 
    position: fixed;
    margin-top: -1.4vw;
    margin-left: 94.7vw;
    background-color: transparent;
    border: none;
    background-image: url("../img/popupBtn-1.svg");
    background-size: cover; 
    cursor: pointer;
  }

  .popup{
    display: none;
    position: fixed;
    top: 4.7vw;
    right: 3vw;
    width: 20.59vw;
    font-family: "Geologica";
    font-size: 1.45vw;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -0.12vw;
    line-height: 121%;
    background-color: transparent;
    border: none;
  }
